/*  your css code here. If applicable */
h1{
	background-color:#2a7ae2;
}
h2{
	background-color:#f44336;
}
h3{
	background-color:#4caf50;
}
h4{
	background-color: #ff9800;
}
h5{
	background-color:#607d8b;
}
h6{
	background-color: #ffeb3b;
}
